.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}
.menuList{
  display: flex;
  /* flex: 1; */
  height: 44px;
  justify-content: space-between;
  color: #fff;
  border: 1px #222 solid;
  align-items: flex-end;
  padding: 0px 3px;
}
.menuList > div{
  /* background-color: #222; */
  display: flex;
  align-items: center;
  height:34px;
  padding: 0px 10px;
}
.mainContainer{
  display: flex;
  flex: 1;
}
.config{
  flex:1;
  box-sizing: border-box;
  border-right: #222 1px dashed;
}
.canvasContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.drag{
  position: absolute;
  border: #222 dashed 2px;
  top: 0;
  left: 0;
  cursor: move;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    width: 90%;
    margin: 5px;
    cursor: pointer;
}

select{
  border-radius: 4px;
    padding: .5em ;
    margin: 5px;
}
select::after{
  font-weight: bold;
    font-size: 14px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    font-size: 14px;
}
summary::marker{
  color: #aaa;
}

details[open] summary::marker{
  color: #222;

}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

input{
    padding: .5em;
    
}

button{
  font-size: 12px;
  border: 1px solid #999999;
  background-color: #ffffff;
  color: #222;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  font-size: 12px;


  border-color: #ccc;
  border-radius: 5px;
  background-color: #aaa;
  color: #fff;
}